pillow>=8.1,<8.2
pypdf2>=1.26,<1.27
pygments>=2.7,<2.8
lxml>=4.6,<4.7
marko==1.0.1
cairocffi==1.2.0        # cairo
pangocffi==0.10.0       # cairo
pangocairocffi==0.6.0   # cairo
webcolors==1.11.1       # cairo
cairosvg==2.5.1         # cairo
